@{
    ViewData["Title"] = "Create New Article";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"] </h1>
    
    <!-- add form to post edit article here, fill with article values -->
    
    
    
    
    
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core 3.0</a>.</p>
</div>
