@{
    ViewData["Title"] = "Show Article Detail";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"] </h1>
    <h2 class="display-3">Article Title</h2>
    <p> Article body goes here </p>
    <hr>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core 3.0</a>.</p>
</div>
