@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<p>dotnet two is an application used to create blog Articles </p>

<p>It takes a closer look at microsoft's new dotnet core version 3.0 development platform</p>

